* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 16px; /*Default Font Size */
    max-width: 100%;
    overflow: hidden;
}


body {
    height: 800px;
    background: rgba(164, 163, 229, 0.98);
}

.band {
    height: 10%;
    background: rgba(106, 106, 255, 0.98);
}

.band h2 {
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
}

.start h1 {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #000;
    text-align: center;
    font-size: 4em;
    font-weight: 370;
}

.start button {
    padding: 10px;
    border-radius: 10px;
    border: 2px black solid;
    margin-left: 50%;
}

.start button:hover {
    background-color: black;
    color: white;
}