.start{
    padding-bottom: 20px;
}

.start h1 {
    padding-top: 60px;
    padding-bottom: 30px;
    color: white;
    text-align: center;
    font-size: 4em;
    font-weight: 450;
}

.start button {
    padding: 7px 21px;
    border-radius: 10px;
    background-color: #E8DBC5;
    font-weight: 400;
    margin-left: 47%;
}

.start button:hover {
    background-color: #102E4A;
    color: #FFF4E9;
    transition: 0.7s;
    box-shadow: 4px 4px #FFF4E9;
}