* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row; 
    width: 100%;
    height: 100vh; 
}

.sidebar {
    width: 30%; 
    padding: 20px;
    background-color: lightgray; 
    border-right: 2px solid #ccc; 
}

.focus {
    width: 70%; 
    padding: 20px;
    background-color: #f9f9f9; 
}

.task {
    margin: 20px 0;
    padding: 25px;
    background-color: ghostwhite;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.date-box {
    margin: 20px 0;
    padding: 25px;
    background-color: ghostwhite;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; 
    overflow: hidden; 
}

.date-box .date {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.todo-container {
    display: flex;
    flex-wrap: wrap;
}

.todo-box {
    margin: 10px;
    padding: 25px;
    width: 100px;
    height: 90px;
    background-color: ghostwhite;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}