
.task {
    margin-top: 25px;
    height: 400px;
}

.card {
    width: 20%;
    height: 60%;
    margin-left: 100px;
    border: black solid;
    background: #FFF;
    display: inline-block;
}

.task h1 {
    font-size: 3.5em;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.task button {
    position: relative;
    bottom: 290px;
    left: 650px;
    padding: 10px
}