* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, #root {
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidePanel {
  height: 100%;
  width: 25%;
  background-color: #CAF0F8;
  border-right: 4px solid #02424F;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidePanel h2 {
  margin: 20px;
}

.sideList {
  width: 100%;
  height: 100%;
  text-align: center;
}

.sideItem {
  border: 2px solid #02424F;
  margin: 30px;
  height: 10%;
  list-style: none;
  font-size: 20px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mainPanel {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00B4D8;
  gap: 20px;
}


.datePanel {
  height: 20%;
  width: 80%;
  border: 4px solid #02424F;
  border-radius: 30px;
  margin-top: 20px;
  margin-right: 50px;
  background-color: #CAF0F8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.taskList {
  width: 80%;
  height: 75%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 30px;
  overflow-y: auto;
  margin: 10px;
  margin-right: 50px;
}

.taskItem, .addItem {
  border: 2px solid #02424F;
  background-color: #CAF0F8;
  color: #02424F;
  list-style: none;
  width: 30%;
  height: 45%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
  font-weight: 600;
  border-radius: 20px;
  padding: 15px;
  word-wrap: break-word;
}

.addItem p {
  font-size: 25px;
  text-align: center;
  padding-left: 15px;
  cursor: pointer;
}

.taskItem p {
  margin-bottom: 10px;
}

.checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid green;
}

.dialogOverlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: #000000bf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
  padding: 1rem;
}

.dialogPanel {
  border-radius: 30px;
  background-color: #00B4D8;
  border: 4px solid #CAF0F8;
  width: 50%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  cursor: pointer;
  margin-left: 350px;
  margin-top: 10px;
  border: none;
  background-color: #00B4D8;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 70%;
  margin: 10px;
}

form input {
  height: 20%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #02424F;
}

.submit {
  cursor: pointer;
  height: 20%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #02424F;
}
